<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin Dashboard - Alumni Association</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <!-- Favicons -->
  <link href="../../public/styles/assets/img/favicon.png" rel="icon">
  <link href="../../public/styles/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../public/styles/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../public/styles/assets/css/style.css" rel="stylesheet">
  <link href="../../public/styles/modalStyle.css" rel="stylesheet">
  <link href="../../public/styles/adminProfileButton.css" rel="stylesheet">

  <!--CSS for listing all the alumni-->

  <link rel="stylesheet"  type="text/css" href="../../public/styles/listAlumni.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <style>

    /* Admin login button */

    @media screen and (max-width: 1399px) and (min-width: 1201px) {
      .getstarted {
        font-size: 0.8em;
        display: flex;
        justify-content: center;
      }
    }

    .image{
      width:180px !important;
      height:60px !important;
      max-height:inherit !important;
    }
    /*--------The below media screen is writtem for search bar and all the alumnis-----------*/
    @media screen and (max-width: 575px){ 
        .col-md-9{
            width:100vw !important;
        }
    }
    /*point refers to the each alumni list*/
    #point{
        cursor:pointer;
    }
    .list-change-width{
      margin-right:30px;
      min-width: auto !important;
    }
    .list-unstyled{
      margin-top:0px !important;
    }
    .font{
      font-weight:bold;
      opacity: 0.7;
    }

  /*---------------------------------------Click on the card to popup the modal on the screen---------------------------------------------------------------*/

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
   /* z-index: 1; Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
    overflow-y: auto;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .myBtn{
    cursor:pointer;
      padding:20px;
  }
  #myModal{
    width: 100%;
    height: 100%;
    position: fixed;

  }
  .btn-buy{
    margin-bottom:10px !important;
    width:90px;
    height:40px;
    padding:9px !important;
  }
  .eventheight{
    font-size:1.1rem;
    padding-bottom:5px;
  }
  @media screen and (max-width: 850px) and (min-width: 650px){ 
    #myModal{
      padding-top : 20%;
    }
  }
  @media screen and (max-width: 649px) and (min-width: 450px){ 
    #myModal{
      padding-top : 30%;
    }
    .modal-content{
      width:90% !important;
      
    }
  }
  @media screen and (max-width: 449px){ 
    #myModal{
      padding-top : 35%;
    }
    .modal-content{
      width:90% !important;
      
    }
  }
  /*--------------------------------------------------------------End of logic for modal view------------------------------------------------------------------*/

  </style>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <!-- <h1 class="text-light"></h1> -->
        <a class ="image" href="/index"><img class ="image" src="../../public/uploads/logo.jpeg"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/index">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/images">Images</a></li>
              <li><a href="/team">Team</a></li>
            </ul>
          </li>
          
          <li><a href="/events">Programs and Events</a></li>
          <li><a href="/services">Career Opportunities</a></li>
          <li><a href="/stories">Alumni Stories</a></li>
          <li><a href="/contact">Contact</a></li>

          <!-- Modal content --> 
          <%- include('./modalLogin/modal') %>

          <% if(!user_type['admin'] && !user_type['alumni']){ %>
            <li><button class="getstarted" onclick="callMe()">Login</button></li>
          <% } else if(user_type['alumni']){ %>  
            
            <li><a class="getstarted" href="/alumni/currentAlumniDetails">My Proile</a></li>
          <% } else if(user_type['admin']){ %>
            <li><a class="getstarted" href="/admin/details">Admin Proile</a></li>
          <% } %>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Search Profile</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/index">Home</a></li>
          <li>Find Alumni</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
         
        <div class="col-md-12" style="width:fit-content;margin-top:15px;">
            <div class="page-people-directory">
                <div class="row">
                   
                    <div class="col-md-9" style="width:80vw;margin:20px 5px !important;">

                        <div class="row">
                            <div class="col-md-6">
                                <h3 style="font-family:none;">Search Alumni</h3>
                            </div>
                           
                        </div>


                        <div class="well">
                            <div class="row">
                                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                                
                            </div>
                        </div>
                        <br>

                        
                        <div class="list-group contact-group" id="myTable">
                            <% for(var i = 0; i< records.length; i++ ) {%>





                                <!-- **************************************Start of alumni details Modal.This pops up on the screen only when the admin clicks on the respective alumni name***************************************** -->
                                
                                <% if(user_type['admin'] || user_type['alumni']){ %>
                                    <!-- The Modal -->
                                    <div id="myModal" class="modal">
                                      <!-- Modal content -->
                                      <div class="modal-content">
                                        <span class="close" onclick="closeDescription()">&times;</span>
                                        <h2 style="text-align:center;">Full Alumni Details</h2>

                                        <main id="main">
                                            <div class="container" style="padding-top:20px;">
                                                <div class="main-body">
                                                    <!-- /Breadcrumb -->
                                                
                                                    <div class="row gutters-sm">
                                                        <div class="col-md-4 mb-3">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex flex-column align-items-center text-center">
                                                                        <img style="width:150px;height:150px;" src="<%=records[i].alumniImage.url%>" alt="Admin" class="rounded-circle" width="150">

                                                                        <div class="mt-3">
                                                                          <h4><%= records[i].alumniName %></h4>
                                                                          <p class="text-secondary mb-1"><%= records[i].alumniDesignation %> @ <%= records[i].alumniCurrentWorkingCompany %></p>
                                                                          <p class="text-muted font-size-sm"><%= records[i].alumniCurrentLocationCountry %>, <%= records[i].alumniCurrentLocationState %>, <%= records[i].alumniCurrentLocationCity %>, <%= records[i].alumniCurrentLocationZip %></p>
                                                                            <% if(user_type['admin']){ %>
                                                                                <form class="deleteform" action="/admin/deleteuser/<%=records[i]._id%>?_method=DELETE" method="post">
                                                                                    <button class="btn btn-danger">Delete</button>
                                                                                </form>
                                                                            <% } %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card mt-3">
                                                              <ul class="list-group list-group-flush">
                                                                  <a href="<%= records[i].alumniWebsite %>">
                                                                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                                          <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                                                                          <span class="text-secondary">Visit My Website</span>
                                                                      </li>
                                                                  </a>
                                                                  <a href="<%= records[i].alumniLinkedin %>">
                                                                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                                          <h6 class="mb-0" style="margin-left:5px;"><i class="fa fa-linkedin" aria-hidden="true"></i>  <span style="margin-left:10px;">Linkedin</span></h6>
                                                                          <span class="text-secondary">Linkedin</span>
                                                                      </li>
                                                                  </a>
                                                                  <a href="<%= records[i].alumniGithub%>">
                                                                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                                          <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                                                                          <span class="text-secondary">My Github Repo</span>
                                                                      </li>
                                                                  </a>
                                                                  <a href="<%= records[i].alumniTwitter %>">
                                                                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                                          <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                                                                          <span class="text-secondary">Twitter</span>
                                                                      </li>
                                                                  </a>
                                                                  <a href="<%= records[i].alumniInstagram %>">
                                                                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                                          <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                                                                          <span class="text-secondary">Instagram</span>
                                                                      </li>
                                                                  </a>
                                                                  <a href="<%= records[i].alumniFacebook %>">
                                                                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                                          <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                                                                          <span class="text-secondary">Facebook</span>
                                                                      </li>
                                                                  </a>
                                                              </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                          <div class="card mb-3">
                                                              <div class="card-body">
                                                                  <div class="row">
                                                                      <div class="col-sm-4">
                                                                          <h6 class="mb-0">Full Name</h6>
                                                                      </div>
                                                                      <div class="col-sm-8 text-secondary">
                                                                          <%=records[i].alumniName%>
                                                                      </div>
                                                                  </div>
                                                                  <hr>
                                                                  <div class="row">
                                                                      <div class="col-sm-4">
                                                                          <h6 class="mb-0">Email</h6>
                                                                      </div>
                                                                      <div class="col-sm-8 text-secondary">
                                                                          <%=records[i].alumniEmail%>
                                                                      </div>
                                                                  </div>
                                                                  <hr>
                                                                  <div class="row">
                                                                      <div class="col-sm-4">
                                                                          <h6 class="mb-0">Roll No</h6>
                                                                      </div>
                                                                      <div class="col-sm-8 text-secondary">
                                                                          <%=records[i].alumniRollNo%>
                                                                      </div>
                                                                  </div>
                                                                  <hr>
                                                                  <div class="row">
                                                                      <div class="col-sm-4">
                                                                          <h6 class="mb-0">Degree</h6>
                                                                      </div>
                                                                      <div class="col-sm-8 text-secondary">
                                                                          <%= records[i].alumniDegree %>
                                                                      </div>
                                                                  </div>
                                                                  <hr>
                                                                  <div class="row">
                                                                      <div class="col-sm-4">
                                                                          <h6 class="mb-0">Branch</h6>
                                                                      </div>
                                                                      <div class="col-sm-8 text-secondary">
                                                                          <%= records[i].alumniBranch %>
                                                                      </div>
                                      
                                                                  </div>
                                                                  <hr>
                                                                  <div class="row">
                                                                      <div class="col-sm-4">
                                                                          <h6 class="mb-0">Graduation Year</h6>
                                                                      </div>
                                                                      <div class="col-sm-8 text-secondary">
                                                                          <%= records[i].alumniGraduationYear %>
                                                                      </div>
                                                                  </div>
                                                                  <hr>
                                                                  <div class="row">
                                                                      <div class="col-sm-4">
                                                                          <h6 class="mb-0">Higher Studies</h6>
                                                                      </div>
                                                                      <div class="col-sm-8 text-secondary">
                                                                          <%= records[i].alumniHigherEducation %>
                                                                      </div>
                                                                  </div>
                                                                  <hr>
                                                                  <div class="row">
                                                                      <div class="col-sm-4">
                                                                          <h6 class="mb-0">Skill Set</h6>
                                                                      </div>
                                                                      <div class="col-sm-8 text-secondary">
                                                                          <%= records[i].alumniSkills %>
                                                                      </div>
                                                                  </div>
                                                                  <hr>
                                                                  <div class="row">
                                                                      <div class="col-sm-4">
                                                                          <h6 class="mb-0">Experience In Industry</h6>
                                                                      </div>
                                                                      <div class="col-sm-8 text-secondary">
                                                                          <%= records[i].alumniWorkExperience %>  Years
                                                                      </div>
                                                                  </div>             
                                                              </div>
                                                          </div>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </main>


                                      </div>
                                    </div>
                                
                                <% } %>



                                <!-- **************************************End of alumni details Modal***************************************** -->













                                
                                <% var index; %>
                                
                                <% index =  i %>

                                <% if(records[i].isVerified===true){ %>
                                <a class="list-group-item" onclick="sendData('<%= index %>')" id="point">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img id="makeround" class="img-circle" src="<%=records[i].alumniImage.url %>" alt="...">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"  style="margin-left:100px;">
                                                <span style="font-size:1.2em;margin-right:20px;"><%=records[i].alumniName%></span> 
                                                <span style="font-style:italic;opacity:0.6;"> | <%= records[i].alumniDesignation %> at <%= records[i].alumniCurrentWorkingCompany %></span>
                                            </h4>
                                            <div style="margin-left:100px !important;line-height:2em !important; " class="media-content">
                                                <%= records[i].alumniCurrentLocationCity %> , <%= records[i].alumniCurrentLocationState %> , <%= records[i].alumniCurrentLocationCountry %>
                                                <ul class="list-unstyled">
                                                    <li class="list-change-width"><span class="font">Degree : </span> <%= records[i].alumniDegree %></li> 
                                                    <li class="list-change-width"><span class="font">Branch : </span> <%= records[i].alumniBranch %></li>
                                                    <li class="list-change-width"><span class="font">Graduation Year : </span><%= records[i].alumniGraduationYear %></li>

                                                </ul>
                                            </div>

                                        </div>

                                    </div>
                                </a>  
                                <%}%> 
                            <%}%> 
                        </div>
                    </div>
                </div> 
            </div>
         </div>



        </div>



        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!--FOOTER SECTION-->
  <%- include('./footer.ejs') %>
  <!--FOOTER ENDS-->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../public/styles/assets/vendor/aos/aos.js"></script>
  <script src="../../public/styles/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../public/styles/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../public/styles/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../public/styles/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../public/styles/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../public/styles/assets/js/main.js"></script>
  <%- include('./modalLogin/modalJavascript.ejs') %>

 <!--Script for find the alumni by search--> 
  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable a").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    $(".deleteuser").click(function(){
        $(".deleteform").submit();
    });
  </script>


  <script>
    function sendData(i){
      
      var modal = document.getElementsByClassName("modal")
      //var mymodal = document.getElementById("myModal");

      var btn = document.getElementById("myBtn");
    
      //console.log(text)
      //desc.innerText = text;
      modal[i].style.display = "block";
    
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        for(var j=0;j<modal.length;j++){
            if (event.target == modal[j]) {
            
                modal[j].style.display = "none";
            }
          
        }
      }
    }
    function closeDescription(){
      //var mymodal = document.getElementById("myModal");
      var modal = document.getElementsByClassName("modal")
      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      for(var j=0;j<modal.length;j++){
        modal[j].style.display = "none";
      }
      
      //mymodal.style.display = "none";
       
    }
  </script>

</body>

</html>