<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pricing - Serenity Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- For popup -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  <!-- Favicons -->
  <link href="../../public/styles/assets/img/favicon.png" rel="icon">
  <link href="../../public/styles/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../public/styles/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../public/styles/assets/css/style.css" rel="stylesheet">

  <style>
    .image{
      width:180px !important;
      height:60px !important;
      max-height:inherit !important;
    }

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
     /* z-index: 1; Sit on top */
      padding-top: 200px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
      height: 80%;
      overflow-y: auto;
  
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    .myBtn{
    	cursor:pointer;
        padding:20px;
    }
    #myModal{
      width: 100%;
      height: 100%;
      position: fixed;
      
    }
    .btn-buy{
      margin-bottom:10px !important;
      width:90px;
      height:40px;
      padding:9px !important;
    }
    span,li{
      font-size:1.1rem;
      padding-bottom:5px;
    }

    @media screen and (max-width: 850px) and (min-width: 650px){ 
      #myModal{
        padding-top : 20%;
      }
    }

    @media screen and (max-width: 649px) and (min-width: 450px){ 
      #myModal{
        padding-top : 30%;
      }
      .modal-content{
        width:80% !important;
     
      }
    }

    @media screen and (max-width: 449px){ 
      #myModal{
        padding-top : 35%;
      }
      .modal-content{
        width:80% !important;
    
      }
    }
  </style>



</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a class ="image" href="/index"><img class ="image" src="../../public/uploads/logo.jpeg"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/index">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/images">Images</a></li>
              <li><a href="/team">Team</a></li>
            </ul>
          </li>
          
          <li><a class = "active" href="/events">Programs and Events</a></li>
          <li><a href="/services">Career Opportunities</a></li>
          <li><a href="/stories">Alumni Stories</a></li>
          <li><a href="/contact">Contact</a></li>

          
          <% if(!user_type['admin'] && !user_type['alumni']){ %>
            <li><a class="getstarted" href="/alumni/login">Login</a></li>
          <% } else if(user_type['alumni']){ %>  
            
            <li><a class="getstarted" href="/alumni/currentAlumniDetails">My Proile</a></li>
          <% } else if(user_type['admin']){ %>
            <li><a class="getstarted" href="/admin/details">Admin Proile</a></li>
          <% } %>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


 




  <main id="main">



    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close" onclick="closed()">&times;</span>
        <h2 style="text-align:center;">Description About Event</h2>
        <p id="desc" style="word-break:break-word;">Some text in the Modal..</p>
      </div>

    </div>

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Program and Events</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/index">Home</a></li>
          <li>Program and Events</li>
        </ol>
      </div>
    </section><!-- End breadcrumbs -->

    <!-- ======= Events Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">
        <% if(user_type['admin']){ %>
          <div class="col-md-12 bg-light text-right" style="background-color:white !important;">
            <a class = "btn btn-success" style="width:140px;background-color:#94c045;"href="/admin/createEvent">Create Event +</a>
          </div>

        <% } %>
        <div class="row">

          <% var limit; %>
          <% if(events.length< 4){ %>
            <% limit =  events.length %>
          <% } else{ %> 
            <% limit = 4 %>
          <% } %>


          <% for(var i = 0; i < limit; i++ ) {%>
          
          <div class="myBtn col-lg-3 col-md-6" style="margin-bottom:25px;">
              <div class="box" style="height:100%;" data-aos="fade-up">
                <div id="box-content" style="height:84%;" onclick = "sendData(`<%= events[i].description %>`)" >
                  <h5 style="font-weight:bold;color:rgb(133, 192, 44);"><%= events[i].title %></h5>
                  <ul style="line-height:normal;">
                    <% var data = events[i].description; %>
                    <% data = data.substr(0,200) + "..." %>
                    <span><%= events[i].month %></span>
                    <span><%= events[i].date %></span>
                    <span><%= events[i].year %></span>
                    <li>Time : <%= events[i].time %></li>
                    <li><%= data %></li>
                    <li> Location : <%= events[i].location %></li>
                  </ul>
              </div>
                
                <% if(user_type['admin']){ %>
                  <a href="/admin/editEvent/<%= events[i]._id %>" class="btn-buy" style="float:left;margin-left:35px;">Edit</a>
                  <form action="/admin/deleteEvent/<%= events[i]._id %>?_method=DELETE" method="post">
                    <button type="submit" style="border-style:hidden;" class="btn-buy" >Delete</button>
                  </form>
                  
                <% } else if(user_type['alumni']) { %>
                  <form action="/alumni/attendEvent/<%= events[i]._id %>?_method=PUT" method="post">
                    <button type="submit" class="btn-buy" style="width:120px !important;height:45px !important;padding:9px !important;font-size:1.1rem !important;border-style:hidden;">Attend</button>
                  </form>
                <% } else { %>
                  <a href="/alumni/login" class="btn-buy" style="width:160px !important;height:45px !important;padding:9px !important;font-size:1.1rem !important;">Login to Attend</a>
                <% } %>
              </div>
            
          </div>
          <% } %> 
        </div>


      </div>
    </section><!-- End Events Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Serenity</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Serenity</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script>
    function sendData(text){
      
      var modal = document.getElementById("myModal");

      var btn = document.getElementById("myBtn");
    
      var desc = document.getElementById("desc")
      console.log(text)
      desc.innerText = text;
      modal.style.display = "block";
    
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    }
    function closed(){
      var modal = document.getElementById("myModal");
    
      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      modal.style.display = "none";
       
    }
  </script>

  <!-- Vendor JS Files -->
  <script src="../../public/styles/assets/vendor/aos/aos.js"></script>
  <script src="../../public/styles/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../public/styles/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../public/styles/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../public/styles/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../public/styles/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../public/styles/assets/js/main.js"></script>


</body>

</html>