<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Alumni Association</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  

  <!-- Favicons -->
  <link href="../../public/styles/assets/img/favicon.png" rel="icon">
  <link href="../../public/styles/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../public/styles/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../public/styles/assets/css/style.css" rel="stylesheet">
  <link href="../../public/styles/modalStyle.css" rel="stylesheet">
  <link href="../../public/styles/adminProfileButton.css" rel="stylesheet">

  <style>



  
    /*--------------------------------------------------------------
    # News  opportunities events
    --------------------------------------------------------------*/
    @media screen and (max-width: 1399px) and (min-width: 1200px) {
      .eachcard{
        width:360px !important;
        height:111px !important;
      }
      .col-md-8{
        width:198px !important;
        line-height:1.2;
      }
      button{
        width:360px !important;
      }
    }
    @media screen and (max-width: 1199px) and (min-width: 992px) {
      .eachcard{
        width:310px !important;
        height:111px !important;
      }
      .col-md-8{
        width:170px !important;
        line-height:1.1;
        font-size: 0.9rem;
      }
      img{
        width:120px !important;
      }
      button{
        width:310px !important;
      }
      #mainpagetext{
        font-size:3vw !important;
      }
    }
    @media screen and (max-width: 767px){
      .eachcard{
        width:100% !important;
        height:111px !important;
      }
      .col-md-8{
        width:70% !important;
        line-height:1.2;
      }
      #mainpagetext{
        font-size:5vw !important;
      }
    }
    @media screen and (max-width: 460px){
      .eachcard{
        width:100% !important;
        height:111px !important;
      }
      .col-md-8{
        width:65% !important;
        line-height:1.2;
      }     
      #mainpagetext{
        font-size:4vw !important;
      }
    }
    @media screen and (max-width: 400px){
      img .card-image{
        width:120px !important;
      }    
      .eachcard{
        width:100% !important;
        height:111px !important;
      }
      .col-md-8{
        width:60% !important;
        line-height:1.1;
      }   
    }
    @media screen and (max-width: 350px){
      img .card-image{
        width:115px !important;
      }    
      .eachcard{
        width:100% !important;
        height:111px !important;
      }
      .col-md-8{
        width:55% !important;
        line-height:1;
        font-size: 0.9rem;
      }   
    }
    @media screen and (max-width: 992px){
      .title{
        font-size:0.8rem !important;
      }
    }

    /*------------------------------------Payment button Razorpay-----------------------------*/

    /*---------Chnage Donate now background colour-------*/
    .PaymentButton--rzpTheme.svelte-ekc7fv.svelte-ekc7fv::before {
      background:#94c045 !important;
      border-color: #94c045 !important;
    }
    /*-----Change razorpay svg image background colour-------*/
    .PaymentButton--rzp-dark-standard.svelte-ekc7fv.svelte-ekc7fv {
      background:#94c045 !important;
      border-color:#94c045 !important;
    }

  </style>

  <style>
    .image{
      width:180px !important;
      height:60px !important;
      max-height:inherit !important;
    }
    .date{
      display:block;
      color:black;
      text-align: center;
      text-transform:uppercase;
    }
    .currentdate{
      font-size: 24px;
      color:#f7ca18;
      font-weight: bold;
    }

  </style>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a class ="image" href="/index"><img class ="image" src="../../public/uploads/logo.jpeg"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="/index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class ="active" href="/index">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/images">Images</a></li>
              <li><a href="/team">Team</a></li>
            </ul>
          </li>
          
          <li><a href="/events">Programs and Events</a></li>
          <li><a href="/services">Career Opportunities</a></li>
          <li><a href="/stories">Alumni Stories</a></li>
          <li><a href="/contact">Contact</a></li>


          <!-- Modal content --> 
          <%- include('./modalLogin/modal') %>

          <% if(!user_type['admin'] && !user_type['alumni']){ %>
            <li><button class="getstarted" onclick="callMe()">Login</button></li>
          <% } else if(user_type['alumni']){ %>  
            
            <li><a class="getstarted" href="/alumni/currentAlumniDetails">My Proile</a></li>
          <% } else if(user_type['admin']){ %>
            <li><a class="getstarted" href="/admin/details">Admin Proile</a></li>
          <% } %>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="hero-container" data-aos="fade-up">
     
      <% if(user_type['viewer']){ %>
        <a href="/alumni/register" class="btn-get-started scrollto">Register</a>
        <% } %>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

<!--         <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="65" class="purecounter">0</span>
                  <p>Happy Clients</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span>
                  <p>Projects</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="27" class="purecounter">0</span>
                  <p>Years of experience</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="22" class="purecounter">0</span>
                  <p>Awards</p>
                </div>
              </div>

            </div>
          </div>
        </div> -->

        <div class="row" style="margin-top:20px;">

          <div class="col-lg-6 video-box align-self-baseline position-relative" style="margin-top:15px;">
            <img src="../../public/uploads/donate.jpeg" class="img-fluid" alt="">
            
          </div>
                
          <div class="col-lg-6 pt-3 pt-lg-0 content" style="margin-top:15px;">
            <h3>Those who are happiest are those who do the most for the others.</h3>
            <p class="fst-italic">
              Unrestricted gifts from undergraduate and graduate alumni, parents, and friends help provide the “margin of excellence” that makes our education second to none.  Annual Giving sustains and enhances the college’s distinctive academic programs and brings together GVPians of all generations.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> In 2018, the largest source of charitable giving came from individuals.</li>
              <li><i class="bx bx-check-double"></i> Historically, donations from individuals account for over two-thirds of all donations.</li>
              <li><i class="bx bx-check-double"></i> The donated money would help to set up Research Labs in the college with the latest instruments.</li>
              <li><i class="bx bx-check-double"></i> Your donations would help tide over the immediate tight situation, for scholarships to cover tuition, educational tools and student stipends.Your contribution, even if nominal, will have a greater impact.</li>
            </ul>
            <form style="text-align:center;">
              <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HEuPMPPtYQxy78" async></script>
               
            </form>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="fade-in">

        <div class="text-center">
          <h3>Nobody is bothered about an institution more than its alumni</h3>
          <a href ="/findalumni" class="cta-btn" href="#">Find Alumni</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= News Events Career Opportunities Section ======= -->

    <section id="gallery">
      <div class="container">

        <div class="row">

          <!-- ########################################   Blogs goes here   ####################################-->

          <div class="col-lg-4 mb-4">
            <div class="section-title pt-5" data-aos="fade-up">
              <h3>Alumni Blogs</h3>
            </div>        
            
            <div class="card">
              <% var limit; %>
              <% if(articles.length< 4){ %>
                <% limit =  articles.length %>
              <% } else{ %> 
                <% limit = 4 %>
              <% } %>

              <% for (var i =0; i < limit;  i++ ) { %>
                <a href="/storySingle/<%=articles[i]._id%>" style="color:black !important;">
                  <div class="card mb-3 eachcard" style="margin-bottom:0px !important; padding:10px;">
                    <div class="row no-gutters" style="height:100%;">
                      <div class="col-md-4" style="width:131px;height:89px;">
                        <img src="<%=articles[i].blogImage.url%>" style="width:131px;height:89px;" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8" style="height:89px;">
                        <div class="card-body" style="height:89px;padding:0px;padding-left:10px;">
                          <h5 class="card-title title" style="height:20px;font-size:0.8rem;font-weight:bold;"><%=articles[i].title%></h5>
                          <p class="card-text"><small><%=articles[i].description%></small> </p>
                          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              <% } %>
              
            </div>
            <a href="/stories"><button type="button" style="width:100%;background-color:#e9e9e9;padding:10px 0px !important;margin-top:10px !important;" class="btn btn-light">View All Blogs</button></a>
          </div>
          
          

          <!-- ########################################   Career Opportunity goes here   ####################################-->
          <div class="col-lg-4 mb-4">
            <div class="section-title pt-5" data-aos="fade-up">
              <h3>Career Opportunity</h3>
            </div>
            <div class="card">
              
              <% var limit; %>
              <% if(jobs.length< 4){ %>
                <% limit =  jobs.length %>
              <% } else{ %> 
                <% limit = 4 %>
              <% } %>

              <% for(var i = 0; i< limit; i++ ) {%>
                <a href="<%= jobs[i].link %>" style="color:black !important;">
                  <div class="card mb-3 eachcard" style="margin-bottom:0px !important; padding:10px;">
                    <div class="row no-gutters" style="height:100%;">
                      <div class="col-md-4" style="width:131px;height:89px;">
                        <img src="<%= jobs[i].companylogo.url %>" style="width:95px;height:89px;border-radius:50%;" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8" style="height:89px;">
                        <div class="card-body" style="height:89px;padding:0px;padding-left:10px;">
                          <h5 class="card-title title" style="height:30px;font-size:0.8rem;font-weight:bold;"><%= jobs[i].title %></h5>
                          <p class="card-text"><small>Location : <%= jobs[i].location %></small></br><small>Min Experience : <%= jobs[i].experience %></small> </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              <%}%>
            </div>
            <a href="/services"><button type="button" style="width:100%;background-color:#e9e9e9;padding:10px 0px !important;margin-top:10px !important;" class="btn btn-light">View All Career Opportunities</button></a>
          </div>
        
          
          <!-- ########################################   Events goes here   ####################################-->

          <div class="col-lg-4 mb-4">
            <div class="section-title pt-5" data-aos="fade-up">
              <h3>Events</h3>
            </div>
            <div class="card">
              <% var limit; %>
              <% if(events.length< 4){ %>
                <% limit =  events.length %>
              <% } else{ %> 
                <% limit = 4 %>
              <% } %>              


              <% for(var i = 0; i< limit; i++ ) {%>

                <div class="card mb-3 eachcard" style="margin-bottom:0px !important; padding:10px;">
                  <div class="row no-gutters" style="height:100%;">
                    <div class="col-md-4" style="width:80px;height:89px;padding-right:0px !important;">
                      <div class="date item">
                        <span class="date day"><%= events[i].day.substr(0,3) %></span>
                        <span class="date currentdate"><%= events[i].date %></span>
                        <span class="date month"><%= events[i].month.substr(0,3) %></span>
                      </div>
                    </div>
                    <div class="col-md-8" style="height:89px;padding:0px !important;">
                      <div class="card-body" style="height:89px;padding:0px;padding-left:10px;">
                        <h5 class="card-title title" style="height:30px;font-size:0.8rem;font-weight:bold;"><%= events[i].title %></h5>
                        <p class="card-text"><small><%= events[i].description.substr(0,60) + " ..." %></small> </p>
                      </div>
                    </div>
                  </div>
                </div>
              <%}%>
            </div>
            <a href="/events"><button type="button" style="width:100%;background-color:#e9e9e9;padding:10px 0px !important;margin-top:10px !important;" class="btn btn-light">View All Events</button></a>
          </div>
        </div>
        
      </div>
    </section>  

  <!-- ======= End of News Events Career Opportunities Section ======= -->

  </main><!-- End #main -->

  <!--FOOTER SECTION-->
  <%- include('./footer.ejs') %>
  <!--FOOTER ENDS-->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="../../public/styles/assets/vendor/aos/aos.js"></script>
  <script src="../../public/styles/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../public/styles/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../public/styles/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../public/styles/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../public/styles/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/waypoints/noframework.waypoints.js"></script>


 <!-- Template Main JS File -->
  <script src="../../public/styles/assets/js/main.js"></script>
  <%- include('./modalLogin/modalJavascript.ejs') %>

</body>

</html>