<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Services - Serenity Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="stylesheet"  type="text/css" href="../public/styles/listAlumni.css">

  <!-- Favicons -->
  <link href="../../public/styles/assets/img/favicon.png" rel="icon">
  <link href="../../public/styles/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../public/styles/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../public/styles/assets/css/style.css" rel="stylesheet">



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  

  <!-- =======================================================
  * Template Name: Serenity - v4.1.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body style="display:block;">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="/index">GVPCE Alumni Connect </a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="/index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class ="active" href="/index">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/images">Images</a></li>
              <li><a href="/team">Team</a></li>
            </ul>
          </li>
          
          <li><a href="/events">Programs and Events</a></li>
          <li><a class="active" href="/services">Career Opportunities</a></li>
          <li><a href="/stories">Alumni Stories</a></li>
          <li><a href="/contact">Contact</a></li>

          <li><a class="getstarted" href="/about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Career Opportunities</h2>
            <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/index">Home</a></li>
          <li>Career Opportunities</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->


    <div class="col-md-12" style="padding-bottom:60px;">
      <div class="page-people-directory">
          <div class="row">
            
              <div class="col-md-9">
                  <div class="well" style="padding-bottom:0px;">
                      <div class="row">
                          <input class="form-control" id="myInput" type="text" placeholder="Search..">
                          
                      </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-md-6">
                          <h3>All Users</h3>
                      </div>
                     
                  </div>
                  
                  <div class="list-group contact-group" id="myTable">
                      <% for(var i = 0; i<records.length; i++ ) {%>
                      <a href="#" class="list-group-item">
                          <div class="media">
                              <div class="pull-left">
                                  <img class="img-circle" src="<%=records[i].alumniImage.url %>" alt="...">
                              </div>
                              <div class="media-body">
                                  <h4 class="media-heading">
                                      <%=records[i].alumniName%> 
                                  <small>Software Engineer at Facebook, Inc.</small>
                                  <!-- <form class="deleteform" action="/admin/deleteuser/<%=records[i]._id%>?_method=DELETE" method="post">
                                      <i class="fa fa-trash deleteuser" style="float:right;"></i>
                                  </form> -->
                              </h4>
                                  <div class="media-content">
                                      <i class="fa fa-map-marker"></i> San Francisco, California, United States
                                      
                                      
                                      <ul class="list-unstyled">
                                          <li><i class="fa fa-skype"></i> <%=records[i].alumniRollNo%></li>
                                          <li><i class="fa fa-mobile"></i> 8790456720</li>
                                          <li><i class="fa fa-envelope-o"></i> <%=records[i].alumniEmail%></li>
                                          
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </a>   
                      <%}%> 
                  </div>
              </div>
          </div> 
      </div>
    </div>






  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Madhurawada,Visakhapatnam <br>
              Andhra Pradesh, 530048<br>
              India <br>
              <strong>Phone:</strong> 91-891-2739507 <br>
              <strong>Fax:</strong> 91-891-2739605 <br>
              <strong>Email:</strong> gvpce@yahoo.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Serenity</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../public/styles/assets/vendor/aos/aos.js"></script>
  <script src="../../public/styles/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../public/styles/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../public/styles/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../public/styles/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../public/styles/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../public/styles/assets/js/main.js"></script>


<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable a").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    $(".deleteuser").click(function(){
        $(".deleteform").submit();
    });
</script>

</body>

</html>