<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Careers and Opportunities - Alumni Association</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="stylesheet"  type="text/css" href="../public/styles/listAlumni.css">

  <!-- Favicons -->
  <link href="../../public/styles/assets/img/favicon.png" rel="icon">
  <link href="../../public/styles/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../public/styles/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../public/styles/assets/css/style.css" rel="stylesheet">
  <link href="../../public/styles/modalStyle.css" rel="stylesheet">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  

  <style>
    @media screen and (max-width: 991px){
      .col-lg-4{
        margin-top:40px !important;
      }
    }
    #nochange a{
      text-decoration: inherit;
      color: inherit;
      cursor: auto;
    }
  </style>
  <style>
    .image{
      width:180px !important;
      height:60px !important;
      max-height:inherit !important;
    }
  </style>
</head>

<body style="display:block;">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a class ="image" href="/index"><img class ="image" src="../../public/uploads/logo.jpeg"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/index">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/images">Images</a></li>
              <li><a href="/team">Team</a></li>
            </ul>
          </li>
          
          <li><a href="/events">Programs and Events</a></li>
          <li><a class = "active" href="/services">Career Opportunities</a></li>
          <li><a href="/stories">Alumni Stories</a></li>
          <li><a href="/contact">Contact</a></li>

           <!-- Modal content --> 
           <%- include('./modalLogin/modal') %>

           <% if(!user_type['admin'] && !user_type['alumni']){ %>
             <li><button class="getstarted" onclick="callMe()">Login</button></li>
           <% } else if(user_type['alumni']){ %>  
             
             <li><a class="getstarted" href="/alumni/currentAlumniDetails">My Proile</a></li>
           <% } else if(user_type['admin']){ %>
             <li><a class="getstarted" href="/admin/details">Admin Proile</a></li>
           <% } %>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Career Opportunities</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/index">Home</a></li>
          <li>Career Opportunities</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->

    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            <div class="list-group contact-group" id="myTable">
              <% for(var i = 0; i < jobs.length; i++ ) {%>
                <a href="<%= jobs[i].link %>" class="list-group-item">
                  <div class="media">
                    <div class="pull-left">
                      <img id="makeround" class="img-circle" style="width:84px;height:80px;" src="<%= jobs[i].companylogo.url %>" alt="...">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <%= jobs[i].title %> 
                      </h4>
                      <div style="margin-left:100px !important; " class="media-content">
                        <i class="fa fa-map-marker"></i> <%= jobs[i].location %>
                        <% if(user_type['admin'] && user_id !== jobs[i].uploadedByUserId ){ %>
                          <form action="/deletejob/<%= jobs[i]._id %>?_method=DELETE" method="POST" class="d-inline" enctype="multipart/form-data">
                            <button style="background:none;border:none;padding-left:10px" type="submit"><i class="fa fa-trash" style="color:red;" aria-hidden="true">&nbspDelete</i></button>
                          </form>  
                          </br>

                        <% } else if( (user_type['admin'] || user_type['alumni']) && user_id === jobs[i].uploadedByUserId ){ %>  
                          <form action="/editjob/<%= jobs[i]._id %>?_method=GET" method="GET" class="d-inline">
                            <button style="background:none;border:none;padding-left:10px" type="submit"><i class="fa fa-edit" aria-hidden="true">&nbspEdit</i></button>
                          </form>
                          <form action="/deletejob/<%= jobs[i]._id %>?_method=DELETE" method="POST" class="d-inline" enctype="multipart/form-data">
                            <button style="background:none;border:none;padding-left:10px" type="submit"><i class="fa fa-trash" style="color:red;" aria-hidden="true">&nbspDelete</i></button>
                          </form>  
                        <% } %> 


                        </br><%= jobs[i].companyName %>
                        &nbsp&nbspMin&nbspExp&nbsp:&nbsp <%= jobs[i].experience %>&nbspYears
                        


                        
       
                      </div>
                    </div>
                  </div>
                </a> 
              <% } %> 
            </div>
          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text" id="search">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div>
              <!-- End sidebar search formn-->

              <div class="sidebar-item categories">
                <ul>
                 
                  <% if(user_type['admin'] || user_type['alumni']){ %>
                    <li><a class = "btn btn-success" style="width:140px;background-color:#94c045;"href="/postjob/<%= user_id %>">Post Job +</a></li>  

                  <% } else{ %>  
                    
                    <li><a class="btn btn-primary" style="width:180px !important;background-color:#91d8f3 !important" href="/alumni/login">Log in to Post Job</a></li>  
                  <% } %>

                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                
                <% var limit; %>
                <% if(jobs.length<5){ %>
                  <% limit =  jobs.length %>
                <% } else{ %> 
                  <% limit = 5 %>
                <% } %>
                
                <% for (var i =0; i < limit;  i++ ) { %>
                  <div class="post-item clearfix">
                    <img style="width:75px;height:70px;border-radius:50%;" src="<%= jobs[i].companylogo.url %>" alt="">
                    <h4><a href="<%= jobs[i].link %>"><%= jobs[i].title %></a></h4>
                    <time datetime="2020-01-01"><%= jobs[i].createdAt.toDateString() %></time>
                  </div>
                <% } %>
              </div><!-- End sidebar recent posts-->


             
            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->


  </main><!-- End #main -->





  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Madhurawada,Visakhapatnam <br>
              Andhra Pradesh, 530048<br>
              India <br>
              <strong>Phone:</strong> 91-891-2739507 <br>
              <strong>Fax:</strong> 91-891-2739605 <br>
              <strong>Email:</strong> gvpce@yahoo.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Serenity</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../public/styles/assets/vendor/aos/aos.js"></script>
  <script src="../../public/styles/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../public/styles/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../public/styles/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../public/styles/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../public/styles/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../public/styles/assets/js/main.js"></script>


  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
      $(document).ready(function(){
        $("#search").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable a").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      $(".deleteuser").click(function(){
          $(".deleteform").submit();
      });
  </script>
  <%- include('./modalLogin/modalJavascript.ejs') %>
</body>

</html>