<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Edit Alumni Details - Alumni Association</title>
    <link href="/public/styles/assets/img/favicon.png" rel="icon">
    <link href="/public/styles/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="/public/styles/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/public/styles/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/styles/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/public/styles/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/public/styles/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/public/styles/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link rel="stylesheet"  type="text/css" href="/public/styles/displayAlumniDetails.css">
    <link href="/public/styles/assets/css/style.css" rel="stylesheet">
    <link href="../../public/styles/modalStyle.css" rel="stylesheet">

    <style>
      .image{
        width:180px !important;
        height:60px !important;
        max-height:inherit !important;
      }
    </style>
</head>
<body style="display:block !important;">
    

    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
    
          <div class="logo">
            <a class ="image" href="/index"><img class ="image" src="/public/uploads/logo.jpeg"></a>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="/index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="/index">Home</a></li>
              <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="/images">Images</a></li>
                  <li><a class="active" href="/team">Team</a></li>
                </ul>
              </li>
              
              <li><a href="/events">Programs and Events</a></li>
              <li><a href="/services">Career Opportunities</a></li>
              <li><a href="/stories">Alumni Stories</a></li>
              <li><a href="/contact">Contact</a></li>

                <!-- Modal content --> 
                <%- include('./mainpage/modalLogin/modal') %>

                <% if(!user_type['admin'] && !user_type['alumni']){ %>
                  <li><button class="getstarted" onclick="callMe()">Login</button></li>
                <% } else if(user_type['alumni']){ %>  
                
                  <li><a class="getstarted" href="/alumni/currentAlumniDetails">My Proile</a></li>
                <% } else if(user_type['admin']){ %>
                  <li><a class="getstarted" href="/admin/details">Admin Proile</a></li>
                <% } %>




            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
        </div>
    </header><!-- End Header -->


    <form style="margin-top: 20px;" action="/alumni/updateDetails/<%=details._id%>?_method=PUT" method="post" enctype="multipart/form-data">
        <main id="main">
        <div class="container" style="padding-top:20px";>
            
            <div class="main-body">
            

                <!-- /Breadcrumb -->
            
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                   
                                    
                                    <div class="image-upload">
                                        <label for="file-input">
                                            <img style="width:150px;height:150px;" src="<%=details.alumniImage.url%>" alt="Admin" class="rounded-circle" width="150">
                                            <!-- <i class="fa fa-edit" style="font-size:36px;margin-top:10px;"></i> -->
                                            
                                        </label>
                                        <input id="file-input" type="file" name="profilePic" style="display:none"/>
                                    </div>      
                                    <div class="mt-3">
                                        <h4><%= details.alumniName %></h4>
                                        <p class="text-secondary mb-1">
                                            <input type="text" required name="alumniDesignation" class="form-control" value="<%= details.alumniDesignation %>" placeholder="Update Your Designation">
                                            <hr>
                                            <input type="text" required name="alumniCurrentWorkingCompany" class="form-control" value="<%= details.alumniCurrentWorkingCompany %>" placeholder="Update Your Company Name">
                                            
                                        </p>
                                        <p class="text-muted font-size-sm">
                                            <input type="text" required name="alumniCurrentLocationCountry" class="form-control" value="<%= details.alumniCurrentLocationCountry %>" placeholder="Update Current Country">
                                            <hr>
                                            <input type="text" required name="alumniCurrentLocationState" class="form-control" value="<%= details.alumniCurrentLocationState %>" placeholder="Update Current State">
                                            <hr>
                                            <input type="text" required name="alumniCurrentLocationCity" class="form-control" value="<%= details.alumniCurrentLocationCity %>" placeholder="Update Current City">
                                            <hr>
                                            <input type="text" required name="alumniCurrentLocationZip" class="form-control" value="<%= details.alumniCurrentLocationZip %>" placeholder="Update Current Zip Code">
                                            
                                            </p>
                                        <a class="btn btn-outline-primary" href="/alumni/logout">Logout</a>
                                        <a class="btn btn-outline-secondary" href="/alumni/currentAlumniDetails">Cancel</a>
                                        <button type = "submit" class="btn btn-outline-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-3">
                            <ul class="list-group list-group-flush">
                                <a href="<%= details.alumniWebsite %>">
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                                        <input type="text" required name="alumniWebsite" class="form-control" value="<%= details.alumniWebsite %>" placeholder="Update Your Website Link">
                                    </li>
                                </a>
                                <a href="<%= details.alumniLinkedin %>">
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0" style="margin-left:5px;"><i class="fa fa-linkedin" aria-hidden="true"></i>  <span style="margin-left:10px;">Linkedin</span></h6>
                                        <input type="text" required name="alumniLinkedin" class="form-control" value="<%= details.alumniLinkedin %>" placeholder="Update Your Linkedin Link">
                                    </li>
                                </a>
                                <a href="<%= details.alumniGithub%>">
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                                        <input type="text" required name="alumniGithub" class="form-control" value="<%= details.alumniGithub %>" placeholder="Update Your Github Link">
                                    </li>
                                </a>
                                <a href="<%= details.alumniTwitter %>">
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                                        <input type="text" required name="alumniTwitter" class="form-control" value="<%= details.alumniTwitter %>" placeholder="Update Your Twitter Link">
                                    </li>
                                </a>
                                <a href="<%= details.alumniInstagram %>">
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                                        <input type="text" required name="alumniInstagram" class="form-control" value="<%= details.alumniInstagram %>" placeholder="Update Your Instagram Link">
                                    </li>
                                </a>
                                <a href="<%= details.alumniFacebook %>">
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                                        <input type="text" required name="alumniFacebook" class="form-control" value="<%= details.alumniFacebook %>" placeholder="Update Your Facebook Link">
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        <input type="text" class="form-control" name="alumniName" value="<%=details.alumniName%>" placeholder="Alumni Name">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        <input type="text" class="form-control" name="alumniEmail" value="<%=details.alumniEmail%>" placeholder="Email Address">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Roll No</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        <input type="text" class="form-control" name="alumniRollNo" value="<%=details.alumniRollNo%>" placeholder="Roll No">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Degree</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        <input type="text" class="form-control" name="alumniDegree" value="<%= details.alumniDegree %>" placeholder="Update Degree">
                                        
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Branch</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        <input type="text" class="form-control" name="alumniBranch" value="<%=details.alumniBranch%>" placeholder="Branch">
                                        
                                    </div>
    
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Graduation Year</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        <input type="text" class="form-control" name="alumniGraduationYear" value="<%= details.alumniGraduationYear %>" placeholder="Graduation Year">
                                        
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Higher Studies</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        <textarea class="form-control" name="alumniHigherEducation" placeholder="Update Higher Education Details"><%= details.alumniHigherEducation %></textarea>
                                        
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Skill Set</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        <textarea class="form-control" name="alumniSkills" placeholder="Update Skills"><%= details.alumniSkills %></textarea>
                                        
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Experience In Industry</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        <input type="text" class="form-control" name="alumniWorkExperience" value="<%= details.alumniWorkExperience %>" placeholder="Update Experience">
                                        
                                    </div>
                                </div>
    
                            </div>
                        </div>

                    </div>
                </div>    
            </div> 
            
        </div> 
        </main>   
    </form> 

    
  <!--FOOTER SECTION-->
  <%- include('./mainpage/footer.ejs') %>
  <!--FOOTER ENDS-->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="..//public/styles/assets/vendor/aos/aos.js"></script>
  <script src="..//public/styles/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="..//public/styles/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="..//public/styles/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="..//public/styles/assets/vendor/php-email-form/validate.js"></script>
  <script src="..//public/styles/assets/vendor/purecounter/purecounter.js"></script>
  <script src="..//public/styles/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="..//public/styles/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="/public/styles/assets/js/main.js"></script>
  <%- include('./mainpage/modalLogin/modalJavascript.ejs') %>
</body>
</html>