<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"  type="text/css" href="../public/styles/listAlumni.css">
</head>
<body>
    <div class="col-md-12">
        <div class="page-people-directory">
            <div class="row">
               
                <div class="col-md-9">
                    <div class="well">
                        <div class="row">
                            <input class="form-control" id="myInput" type="text" placeholder="Search..">
                            
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>All Users</h3>
                        </div>
                       
                    </div>
                    
                    <div class="list-group contact-group" id="myTable">
                        <% for(var i = 0; i<records.length; i++ ) {%>
                        <a href="#" class="list-group-item">
                            <div class="media">
                                <div class="pull-left">
                                    <img id="makeround" class="img-circle" src="<%=records[i].alumniImage.url %>" alt="...">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <%=records[i].alumniName%> 
                                    <small>Software Engineer at Facebook, Inc.</small>
                                    <form class="deleteform" action="/admin/deleteuser/<%=records[i]._id%>?_method=DELETE" method="post">
                                        <i class="fa fa-trash deleteuser" style="float:right;"></i>
                                    </form>
                                </h4>
                                    <div style="margin-left:100px !important; " class="media-content">
                                        <i class="fa fa-map-marker"></i> San Francisco, California, United States
                                        
                                        
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-skype"></i> <%=records[i].alumniRollNo%></li>
                                            <li><i class="fa fa-mobile"></i> 8790456720</li>
                                            <li><i class="fa fa-envelope-o"></i> <%=records[i].alumniEmail%></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>   
                        <%}%> 
                    </div>
                    <div class="pull-right">
                        <ul class="pagination pagination-split pagination-sm pagination-contact">
                            <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable a").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        $(".deleteuser").click(function(){
            $(".deleteform").submit();
        });
    </script>
</body>
</html>