<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Blog - Alumni Association</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../public/styles/assets/img/favicon.png" rel="icon">
  <link href="../../public/styles/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../public/styles/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../public/styles/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../public/styles/assets/css/style.css" rel="stylesheet">
  <link href="../../public/styles/modalStyle.css" rel="stylesheet">

  <style>
    .image{
      width:180px !important;
      height:60px !important;
      max-height:inherit !important;
    }



  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a class ="image" href="/index"><img class ="image" src="../../../public/uploads/logo.jpeg"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="/index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/index">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/images">Images</a></li>
              <li><a href="/team">Team</a></li>
            </ul>
          </li>
          
          <li><a href="/events">Programs and Events</a></li>
          <li><a href="/services">Career Opportunities</a></li>
          <li><a class="active" href="/stories">Alumni Stories</a></li>
          <li><a href="/contact">Contact</a></li>

          <!-- Modal content --> 
          <%- include('../../mainpage/modalLogin/modal') %>

          <% if(!user_type['admin'] && !user_type['alumni']){ %>
            <li><button class="getstarted" onclick="callMe()">Login</button></li>
          <% } else if(user_type['alumni']){ %>  
            
            <li><a class="getstarted" href="/alumni/currentAlumniDetails">My Proile</a></li>
          <% } else if(user_type['admin']){ %>
            <li><a class="getstarted" href="/admin/details">Admin Proile</a></li>
          <% } %>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Blog</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/index">Home</a></li>
          <li>Blog</li>
        </ol>
      </div>



    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries"  id="myTable">
            <% for (var i =0; i < articles.length;  i++ ) { %>
              <article class="entry">

                <div class="entry-img">
                  <img src="<%=articles[i].blogImage.url%>" alt="" class="img-fluid">
                </div>

                <h2 class="entry-title">
                  <a href="/storySingle/<%=articles[i]._id%>"><%=articles[i].title%></a>
                </h2>

                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href=""><%=articles[i].alumniName%></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href=""><time datetime="2020-01-01"><%= articles[i].createdAt.toLocaleDateString() %></time></a></li>
                    
                  </ul>
                </div>

                <div class="entry-content">
                  <p>
                    <%=articles[i].description%>
                  </p>
                  <div class="read-more">
                    <a href="/storySingle/<%=articles[i]._id%>">Read More</a>
                  </div>
                </div>

              </article>
            <% } %>


          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text" id="search">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <div class="sidebar-item categories">
                <ul>
                  <% if(user_type['admin'] || user_type['alumni']){ %>
                    <li><a class = "btn btn-success" style="width:140px;background-color:#94c045;"href="/alumni/createBlog/<%=_id%>">Create Blog +</a></li>  
                  <% } else{ %>  
                    
                    <li><a class="btn btn-primary" style="width:180px !important;background-color:#91d8f3 !important" href="/alumni/login">Log in to create Blog</a></li>  
                  <% } %>

                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                <% for (var i =0; i < 5;  i++ ) { %>
                  <div class="post-item clearfix">
                    <img src="<%= articles[i].blogImage.url %>" alt="">
                    <h4><a href="/storySingle/<%=articles[i]._id%>"><%= articles[i].title %></a></h4>
                    <time datetime="2020-01-01"><%= articles[i].createdAt.toLocaleDateString() %></time>
                  </div>
                <% } %>
              </div><!-- End sidebar recent posts-->

             
            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <!--FOOTER SECTION-->
  <%- include('../footer.ejs') %>
  <!--FOOTER ENDS-->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../public/styles/assets/vendor/aos/aos.js"></script>
  <script src="../../public/styles/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../public/styles/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../public/styles/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../public/styles/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../public/styles/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../public/styles/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../public/styles/assets/js/main.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function(){
      $("#search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable article").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    $(".deleteuser").click(function(){
        $(".deleteform").submit();
    });
  </script>

  <%- include('../modalLogin/modalJavascript.ejs') %>
</body>

</html>